.hidden.menu {
  display: none;
}

html, body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    /* box-shadow:  0 8px 20px 0 rgba(0, 0, 0, 0.2); */
}


.page {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.oni-navigation {

    height: 3em;
    width: 100%;

    flex: 0 0 auto;
    font-family: 'Inconsolate', monospace;

    line-height: 3em;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-left: 16px;
    margin-right: 16px;
}

.oni-navigation .nav-item {
    font-size: 0.8em;
    margin-left: 8px;
    margin-right: 8px;
}

.oni-navigation .nav-item:last-child {
    margin-right: 32px;
}

.oni-navigation .nav-item a {
    color: rgb(171, 178, 191);
    text-decoration: none;
    font-weight: bold;
}

.oni-navigation .nav-item a:hover {
    color: lightgray;
}

.oni-content {
    /* box-shadow:  0 -8px 20px 0 rgba(0, 0, 0, 0.2); */
    width: 100%;

    flex: 1 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    text-align: center;
}
